# Copie ce fichier en .env et remplis les valeurs
# NE METS JAMAIS .env en public (ajoute-le dans .gitignore)

# Identifiants MPP
MPP_LOGIN=sebsdp@yahoo.fr
MPP_PASSWORD=Football99@

# Token API Football-data.org
# Gratuit: https://www.football-data.org/
FOOTBALL_API_TOKEN=ta_clé_api_ici
